<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.lvvu.hocbanglaixemay">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544/6300978111"/>

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examdetail.ExamDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boardnotice.ProhibitBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boardnotice.DangerousBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boardnotice.InstructionBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boardnotice.CommandBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boardnotice.SubBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boardnotice.LineRoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".safedrive.SafeDriver1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".safedrive.SafeDrive5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".safedrive.SafeDrive2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".safedrive.SafeDriver3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".safedrive.SafeDrive4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.Part1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.Part4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.Part2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.Part3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".theory.TipTrickNoticeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>